@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO THE FINANCE PLAN SERVICE</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">Greetings!</p>
    }
    else
    {
        <p class="lead">Please click on the link below to login or register</p>
    }

    @*@Html.Partial("_LoginPartial")*@
</div>
